<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

<head>
	<title>{{ site.title | default: site.github.repository_name }}</title>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">


</head>

<body>
	<!-- Main Container for Site -->
	<div class="main">

		<header>
			<!-- Always shown. Page Title and Intro -->
			<h1 id="siteTitle">{{ site.title }}</h1>
			<h2 id="siteAuthor">{{ site.author }}</h2>
			<img id="profilePic" alt="Matt Steward" src="/assets/images/ProfilePic.jpg" />

		</header>

		<aside id="headline">
			<!-- Headline/Latest Blog Entry. Shown Web only.-->
			<h3>Latest...</h3>
			<ul>
				{% for post in site.posts limit:3 %}
				<li>
					<a href="{{ post.url }}" title="{{ post.title }}">
						{{ post.date | date_to_string }} - {{ post.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</aside>

		<nav>
			<!-- Navigation. Shown left on Web, and inline on Mobile -->
			<a href="/">
				<div class="{% if page.url == '/' %}selected{% endif %}">
					Home
				</div>
			</a>
			<a href="/about">
				<div class="{% if page.url contains '/about/' %}selected{% endif %}">
					About
				</div>
			</a>
			<a href="/blog">
				<div class="{% if page.url contains '/blog/' %}selected{% endif %}">
					Blog
				</div>
			</a>
			<a href="/articles">
				<div class="{% if page.url contains '/articles/' %}selected{% endif %}">
					Articles
				</div>
			</a>
		</nav>

		<section id="content">
			<!-- Content. Always shown. -->
			{{content}}
		</section>

		<footer>
			<!-- Contact details. Always shown. -->

			<a target="_blank" href="mailto:blog@matt-steward.com">
				<div>
					Email
				</div>
			</a>
			<a target="_blank" href="https://www.linkedin.com/in/mattsteward/">
				<div>
					LinkedIn
				</div>
			</a>
			


		</footer>

	</div>
</body>

</html>
